.Category_Main{
    width: 17%;
    height: 100%;
    min-height: 768px;
    /* background-color: #feeefc; */
    border: 1px solid #C7EEB1;
    float: left;
    position: relative;
    transition: 1s;
    text-align: center;
    
}
.Category_Box{
    width: 75%;
    height: 400px;
    position: sticky;
    top: 105px;
    right: 0px;
    display: inline-block;
    overflow: hidden;
}
.Category_Test{
    width: 80%;
    height: 30px;
    /* background-color: #feeefc; */
    margin: 15px;   
    display: inline-block;

    text-decoration:none;
    font-family: "Titillium Web", "RixSGo", sans-serif !important;
    line-height: 120%;
	color: #9E9E9E;
    font-weight: bold;
}

.Category_Test:hover{
	color : #383838;
	font-weight:bold;
	font-weight: 900;
}
.Category_bnt{
    width: 20px;
    height: 100px;
    /* background-color: #feeefc; */
    border: 1px solid #C7EEB1    ;
    float: left;
    /* position: relative; */
    text-align: center;
    display: flex;
    align-items: center;
    position: sticky;
    top: 85px;
    right: 0px;
}