.Home_Main{
    width: 600px;
    height: 700px;
    border: 2px solid;
    border-radius: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Home_Header{
    width: 600px;
    height: 50px;
    /* border-bottom: 1px dashed; */
}
.Home_Content{
    width: 540px;
    height: 540px;
    padding: 30px;
}

.Application{
    width: 83px;
    height: 83px;
    border: 3px solid;
    border-radius: 10px;
    margin: 23px;
    float: left;
}

.Hidden_Application{
    width: 83px;
    height: 83px;
    border: 3px solid;
    border-radius: 10px;
    margin: 23px;
    float: left;
    opacity : 0;
}

.Application button{
    width: 83px;
    height: 83px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.Home_Tail{
    width: 600px;
    height: 50px;
    /* border-top: 1px dashed; */
}
