<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.FoodRoad.biz.user.UserMapper">

	<select id="selectUserList" parameterType="com.example.FoodRoad.biz.user.dto.UserSearch" resultType="com.example.FoodRoad.biz.user.entity.User">
		SELECT 		/* UserMapper.selectUserList */
			TOP 10
			USER_ID 	AS userId		-- 유저ID
			, USER_NM 	AS userNm		-- 유저명
			, USER_PWD 	AS userPwd		-- 유저비밀번호
			, REG_DTM 	AS regDtm		-- 등록일시
			, UPD_DTM 	AS updDtm		-- 변경일시
			, EMAL 		AS emal			-- 이메일
			, TEL 		AS tel			-- 전화번호
			, GDE 		AS gde			-- 성별
			, DEL_YN 	AS delYn		-- 삭제여부
			, USER_LVL 	AS userLvl		-- 유저등급
		FROM foodroad.dbo.USER_MNGMT_TBL
		ORDER BY REG_DTM DESC
	</select>

</mapper>